$font-color-light: #fefefe;
$font-family-condensed: 'Roboto Condensed', 'HelveticaNeue-Condensed',sans-serif;
$font-family: 'Roboto', 'HelveticaNeue-Condensed',sans-serif;
$background-color-dark:  rgb(29,31,36);

body {
  background-color: $background-color-dark;
}

// this makes a fixed background image for iOS devices
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: $background-color-dark;
  background: url(../img/code-background.jpg) no-repeat top left;
}

p {
  font-family: $font-family-condensed;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: $font-color-light;
  text-align: center;
  line-height: 1.3;
}

// .grid-container {
//   background: fixed;
//   background-image: url(../img/code-background.jpg);
// }



.fouc-sticky.sticky.is-stuck {
  z-index: 0;
}

.gradient-overlay-container {
  margin-top: -400px;
}
.gradient-overlay {
  background: rgb(29,31,36);
  background: -moz-linear-gradient(0deg, rgba(29,31,36,1) 0%, rgba(29,31,36,1) 55%, rgba(29,31,36,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(29,31,36,1) 0%, rgba(29,31,36,1) 55%, rgba(29,31,36,0) 100%);
  background: linear-gradient(0deg, rgba(29,31,36,1) 0%, rgba(29,31,36,1) 55%, rgba(29,31,36,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1f24",endColorstr="#1d1f24",GradientType=1);
  height: 100vh;
}

.gradient-overlay.sticky.is-stuck{
  z-index: auto;
}

// buy-group contains the paragraph and buy button
.buy-group {
  z-index: 1;
  width: auto;
  margin: -300px auto 100vh;
}

.text-bnt-container {
  padding: 0;
  max-width: 280px;
  margin: 0 auto;
}